*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
  background-color:#ed017f;
  height: 8vh;
  justify-content: space-around;
  max-width: 1440px;
  text-align: center;
}

.navbar ul{
  color: white;
  display:flex;
  margin: 3px 0px;
  padding: 5px;
 
  /* margin-left: 15vh; */
} 

.nav-item {
  color: #fff;
  font-size: .8125rem;
  /* padding: 1.9rem 1.5rem; */
  padding: 29px 25px;
  justify-content: center;
  transition: background-color .3s ease-in-out;
  list-style-type:none;
  /* margin-left:2vh */
}

.nav-item:hover{
 background-color: white;
 color:#ed017f;
}

.navbar form input {
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
    font-size: .75rem;
    height: 3.5vh;
    padding-left: .625rem;
    padding-right: 0;
    width: 25vw;
    border: none;
    border-radius: 0.375rem 0 0 0.375rem;
    margin-right: 0;
    margin-left:0
}

.navbar form button {
  height:3.5vh;
  background-color: #FBA100;
  color: white;
  padding-left: .625rem;
  padding-right: .625rem;
  border-bottom-right-radius: .25rem;
  border-top-right-radius: .25rem;
  border: none;
  align-items: center;
  margin-right: .2rem;
  margin-left: -1px; 
  border-radius: 0 0.375rem 0.375rem 0;
  
}


.navbar img{
  max-height: 2.1875rem;
  width: 7.96875rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 180px;
  padding: 10px;
  border: none;
}

.nav-item:hover .dropdown-menu {
  display: block;
  border: none;
}

.dropdown-menu .dropdown-item{
  font-size: .9rem;
}

.dropdown-menu .dropdown-item:hover {
  text-decoration: none;
  display: block;
  background-color: #f1f1f1;
  color:#ed017f;
  font-size: .9rem;

}

.nav-link{
  margin:auto;
  justify-content: center;
  align-items: center;
}

.Nav-container{
  background-color: #94004F;
}

.Nav-container div {
  margin: auto;
  justify-items: center;
  height: 2rem;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: .8125rem;
  line-height: 2rem;
 
}

.container a {
  text-decoration: none;
  color: white;
  padding: .9rem;
}

.container a:hover {
  color: black;
  background-color: white;
}

.Footer-top{
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #2E2E2E;
}
.Footer-top-main{
  width: 80vw;
  background-color: #2E2E2E;
  margin: auto;
  height: 8vh;
}
.Footer-top-logo{
  background-color: #fff;
  height: 30px;
  width: 1.875rem;
  color: #000;
  font-size: 18px;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
}
.Footer-top-text h3{
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
}
.Footer-top-text a{
  color: #b5b5b5;
  text-decoration: none;
  font-size: 13px;
}
.Footer-top-text a:hover{
  color: #fff;
}
.Footer-input{
  height: 2.5rem;
  background-color: #ED017F;
  border-radius: 3px;
}
.Footer-input-area{
  /* font-size: 10rem; */
  color: #2E2E2E;
  width: 13rem;
  height: 2.5rem;
  border: none;
  font-size: 13px;

}
.Footer-button{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
}
.Footer-button h4{
  font-size: 13px;
  color: #fff;
  font-weight: bolder;
}
.Footer-main-bottom{
  width: 80vw;
  height: 33vh;
  margin: auto;
  background-color: #0C0C0C;
}
.Footer-main-bottom h4{
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
}
.Footer-list{
  color: #b5b5b5;
  text-decoration: none;
}
.Footer-list h4 :hover{
  color: #fff;
}
.Footer-list a{
  color: #b5b5b5;
  text-decoration: none;
  font-size: 13px;
}
.Footer-list a:hover{
  color: #fff;
}
.Footer-bottom{
  width: 100vw;
  background-color: #0C0C0C;
}
.Footer-bottom-store{
  width: 9rem;
  height:3rem ;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.Footer-store-text p{
  font-size: 12px;
  margin-bottom: 0;
  color: #b5b5b5;
}
.Footer-store-text h3{
  font-size:15px ;
  color: #b5b5b5;
  margin-top: 0;
  font-weight: bolder;
}
.Footer-store-logo{
  color: #fff;
  font-size: 30px;
}

.Footer-social a{
  margin: 5px;
  width: 40px;
  height: 40px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50px;
  font-weight: bolder;
}
.Footer-social a:hover{
  color: #b5b5b5;
  background-color: #2E2E2E;
}
.Footer-line-text {
  color: #595757;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
}
.Footer-line{
  border-top: 1px solid #595757;
  width: 35%;
  margin: 0 10px;
}
.form-body{
  background-color: #F2F2F2;
  height: 100vh;
  width: 100vw;
}
.form-container{
  /* margin-top: 30vh; */
  width: 20vw;
  height: 76vh;
  border-radius:10px;
  background-color: #fff;
  margin: auto;
}
.form-image-body{
  margin: auto;
  width:15vw;
  height: 5vh;
  text-align: center;
}
.signup-image{
  width: 10vw;
  height: 5vh;
}
.form-heading{
  font-size: 25px;
  font-weight: bolder;
  text-transform: capitalize;
  width: 20vw;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
}
.form-input{
  font-size: 14px;
}
.errors{
  color: red;
  /* font-size: 10px; */
}
.submit-button{
  color: white;
  height: 35px;
}  
.submit-button-text{
  font-size: 15px;
  text-transform: capitalize;
}
.form-input-text {
  color: #cccccc;
  text-align: center;
  font-size: 13px;
}
.form-input-text span{
  color: #cccccc;
  text-decoration: underline;
}
.form-footer{
  text-align: center;
}
.form-footer-text{
  font-size: 13px;
  color: #9B9B9B;
  /* text-align: center; */
}
.form-footer-button{
  border: #ED017F 1px solid;
  font-size: 15px;
  color: #ED017F;
  font-weight: bolder;
}
.form-footer-button :hover{
  color: #fff;
  background-color: #ED017F;
}
.login-form-container{
  width: 20vw;
  height: 55vh;
  border-radius:10px;
  background-color: #fff;
  margin: auto;
}
.form-label-head{
  text-align: center;
  width: 20vw;
}
.form-label-tab{
  border: #00f 1px solid;
  width:9vw ;
}
.form-label-tab a{
  font-size: 12px;
  text-decoration: none;
}
.form-label-logo{
  font-size: 18px;
  color: #00f;
}
.form-label-logo:hover{
  color: #595757;
}
.login-form-text{
  text-align: end;
  color: #A71B62;
  margin-left: 130px;
  text-decoration: underline;

}
.form-section {
  position: relative;
  text-align: center;
  padding: 20px 0; 
}

.form-section::before {
  content: ''; 
  position: absolute;
  left: 0;
  top: 50%; 
  width: 100%;
  height: 1px;
  background: #9B9B9B;
  z-index: 1; 
  opacity: 50%;
}

.form-section::after {
  content: 'OR'; 
  position: absolute;
  font-size: 12px;
  left: 50%; 
  top: 50%; 
  line-height: 25px;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #9B9B9B; 
  border-radius: 50%; 
  opacity: 80%;
  transform: translate(-50%, -50%);
  z-index: 1; 
}
.form-section .text {
  position: relative;
  display: inline-block;
  z-index: 2; 
}
/* ANDRES'S CODE */
.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important; 
  background-color: #f5f4f4 !important; 
  margin: 7px !important;
  opacity: 1 !important; 
}

.carousel-indicators .active {
  background-color: #000 !important; 
}

.carousel-control-prev-icon:hover{
  background-color: #f5f4f4 !important;
  color: #121111 !important;
  border-radius: 50% !important;
  border: #f5f4f4 solid 30px !important;
}

.carousel-control-next-icon:hover{
  background-color: #f5f4f4 !important;
  color: #121111 !important;
  border-radius: 50% !important;
  border: #f5f4f4 solid 30px !important;
}

.todaysDealsHeading{
  background-color: #94004F;
  color: white;
  position: relative;
  overflow: hidden;
}

.todaysDealsHeading .faded-icons {
  opacity: 0.2;
  font-size: 1.5rem;
}

.sameDayDeliveryHeading{
  background-color: #FFE9E9;
  position: relative;
  overflow: hidden;
}

.sameDayDeliveryHeading button{
  background-color: #FFDFDD;
  color: #ED017F;
}

.sameDayDeliveryHeading button:hover{
  background-color: #FFDFDD;
  color: #ED017F;
}

.seeAllItems:hover{
  border-bottom: 1px solid #fff;
}

.seeAllItemsSameDay:hover{
  border-bottom: 1px solid #8F054D;
}

.productsShadows:hover{
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  transition: 0.4s ease-in-out;
}


.Single-product{
  width: 100%;
  background-color: #f2f2f2;
}
.main-product{
  max-width: 1400px;
  grid-template-columns: auto;
}

.main-single-product{
  width: 70vw;
  height: 100vh;
  background-color: #fff;
}
.side-product{
  width:20vw;
  /* height: 95vh; */
}
.side-product-one{
  background-color: #fff;
  height: 15vh;
}
.side-product-one h1{
  font-size: 15px;
}
.side-product-one p{
  font-size: 12px;
  color: #ED017F;
}
.side-product-two{
  background-color: #fff;
  width: 20vw;
  height: 44vh;
}
.side-product-two h1{
  font-size: 15px;
}
.side-product-two-content p{
  font-size: 13px;
}
.side-product-two-logo{
  color: #ED017F;
  font-size: 30px;
}
.side-product-two-content h4{
  font-size: 13px;
}
.side-product-three{
  background-color: #fff;
  width: 20vw;
  height: 39vh;
}

.side-product-three h1{
  font-size: 15px;
}
.side-product-three-content p{
  font-size: 13px;
}
.bottom-product{
  max-width: 1400px;
  background-color: #fff;
}
.side-product-rule{
  opacity: 5%;
}
.product-rule{
  opacity: 10%;
}

.store-body {
  /* min-height: 100vh; */
  margin: 0 auto;
  max-width: 90rem;
}
.store-header {
  background-color: #f5a623;
  background-repeat: repeat;
  background-size: auto;
}
.store-header-text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
}
.Store-image img{
  width: 100%;
  transition: 0.3s;
}
.Store-image img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.store-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #f2f2f2;
  color: black;
}
.store-header-content h1{
  font-size: 2rem;
  font-family:sans-serif;
}
.store-header-content p{
  font-size: 1rem;
  margin-top: 0px;
  color: #666;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.store-header-content a{
  font-size: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}
.sell{
  height: 400px;
  width: 400px;
  margin: 20px;
}
.sell img{
  height: 200px;
  width: 200px;
}
.sell p{
  font-size: 14px;
  color: #777;
  width: 300px;
  /* text-align: center; */
  margin: auto;
}
.sell-container{
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
.sell h4{
  font-size: 22px;
  font-weight: bolder;
}
.sales-overall-container{
  width: 1440px;
  margin: auto;
}
.register-button{
  color: #ED017F;
  background-color: #fff;
  border: 2px solid #FBA5D0;
  padding: 10px 30px;
  font-weight: bolder;
}
.NavbarTwo{
  background-color: #94004F;
  width: 100vw;
}
.NavbarTwo-main{
  width: 1440px;
  height: 4vh;
  margin: auto;
  background-color: #94004F;
  color: #fff;
  text-decoration: none;
  list-style: none;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
.NavbarTwo-main a{
  line-height: 4vh;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  list-style: none;
  text-align: center;
  padding: 10px 30px;

}

.NavbarTwo-icon :hover{
  color: #fff;

}
.NavbarTwo-main li :hover {
  color: #000;
  background-color: #fff;
  transition: ease-in-out .3s;

}
.NavbarTwo-main-list li{
  line-height: 4vh;
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  list-style: none;
  text-align: center;
}
.NavbarTwo-icon{
  color:#fff ;
  font-size:18px;
  font-weight:bolder;
}
.Navbar-main-list {
  position: relative;
  display: inline-block;
}
.NavbarTwo-hover{
  top: 12vh;
  position: absolute;
  background-color: #000000d3;
  width: 100vw;
  height: 88vh;
  z-index: 1000;
  
}
.NavbarTwo-hover-item{
  background-color: white;
  height: 80vh;
  width: 70vw;
  opacity: 100%;
  margin-left: 17.1vw;
  overflow-y: auto;
}
.NavbarTwo-hover-item-text{
  line-height: 25px;
  
}
.NavbarTwo-hover-list{
  color: #000;
}
.NavbarTwo-hover-list h6{
  font-size: 15px;
  font-weight: bolder;
}
.NavbarTwo-hover-list a{
  color: #666;
  font-size: 12px;
}
.NavbarTwo-hover-list a:hover{
  color: #ed017f;
  font-size: 12px;
}
.NavbarTwo-hover-item-image img{
  width: 20vw;
  height: 60vh;
}

.NavbarTwo-hover-list-group{
  width: 15vw;
  height: 80vh;
  background-color: #f2f2f2;
  
}
.NavbarTwo-hover-list-group a {
  text-decoration: none;
  color: #666;
  font-size: 13px;
}
.NavbarTwo-hover-list-group li {
  text-decoration: none;
  color: #666;
  font-size: 13px;
}
.list-group-item{
  background-color: #666;
}
.list-group-item:hover{
  background-color: #fff;
}
.NavbarTwo-hover-mini{
  top: 12vh;
  position: absolute;
  background-color: #000000d3;
  width: 100vw;
  height: 88vh;
  z-index: 1000;
  margin-left: 30vw;
}
.NavbarTwo-hover-item-mini{
  background-color: white;
  height: 80vh;
  width: 60vw;
  opacity: 100%;
  margin-left: .01vw;
  overflow-y: auto;
}
.NavbarTwo-hover-mini-list{
  overflow: hidden;
  
}
.NavbarTwo-mini-item-text{
  margin-left: 4vw;
}
.product-package-button{
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.6rem;
  color: #595757;
  background-color: #fff;
  border: #d8d8d8 1px solid;

}
.single-product-add-button{
  width: 18rem;
  border: none;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
}
.addToCart-love-button{
  color: white;
  width: 40px;
  height: 40px;
  background-color: #9B9B9B;
  text-align: center;
  border-radius: 30px;
}
.addToCart-love-button:hover{
  background-color:#F5A623 ;
}
.addToCart-button{
  color: #FFF;
  font-size: 25px;
  margin: auto;
  text-align: center;
}






